.content .content-top {
    height: 400px;
}

.content .content-top img {
    width: 100%;
    height: 100%
}


.content-new-left{
    border-right: 1px solid #ccc;
}
.content .content-new{
    width: 1200px;
}
.content .content-new .content-new-left-new li:hover{
    background-color: #eee;
}
.content .content-new .content-new-right .content-new-right-left{

    width:770px;
}
.content .content-new .content-new-right .content-new-right-left li{
    width: 100%;
    margin: 0;
    line-height: 50px;
    height: 50px;
    border-radius:15px;
    padding-left:10px;
}
.content .content-new .content-new-right .content-new-right-left li:hover{
    background-color: #eee;
}
.content .content-new .content-new-right .content-new-right-left li a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 35px;
    overflow: hidden;
    width: 60%;
    color:#444;
}
.content .content-new .content-new-right .content-new-right-left li b{
    padding-right: 8px;
    color: #bbb;
}
.content .content-new .content-new-right ul li span{
    margin-right: 10px;
}
.content .content-new .content-new-right{
    height: 550px;
    width: 890px;
    position: relative;
}
.content .content-new .content-new-right .content-new-right-page{
    width: 100%;
    height: 52px;
}
.content .content-new .content-new-right .content-new-right-page .content-new-right-page-ul{
    position:absolute;bottom: 0;left: 0px;

}
.content .content-new .content-new-right .content-new-right-page .content-new-right-page-ul li:hover{
    background-color: #555;
    color:#fff;
}